{% extends "sections/types/_base.html" %}
{% load html thumbnail %}

{% block section_class %}c-section-homepageHero{% endblock %}

{% block section_content %}
<div class="l-container">
  <div class="o-section_content">
    <h1 class="o-section_title fz-xlarge">{{ section.title }}</h1>
    <p class="o-section_text fz-x¡small">{{ section.text }}</p>

    {% if section.button_url and section.button_text %}
    <a class="o-button c-button-primary" href="{{ section.button_url }}">{{ section.button_text }}</a>
    {% endif %}
  </div>

  <hero-balls-container amount="25" side="left"></hero-balls-container>
  <hero-balls-container amount="25" side="right"></hero-balls-container>

  <div class="o-section_video" style="z-index: 19;">

    <div class="o-section_videoOverlay">
      <a class="o-section_videoTrigger video-popup" href="{{ section.video }}"></a>
    </div>
  </div>

  {% if section.logo_set %}
  {% include "site/includes/logo_set.html" with logo_set=section.logo_set title=section.logo_set_title %}
  {% endif %}
</div>
{% endblock %}
