{% extends "sections/types/_base.html" %}
{% load html thumbnail %}

{% block section_class %}c-section-pageTop has-backgroundImage has-media{% endblock %}

{% block section_content %}
<div class="l-container">
  <div class="o-section_content">
    <h2 class="o-section_meta fz-small u-purple-text">{{ section.parent.title }}</h2>

    <h1 class="o-section_title fz-xlarge">{{ section.title }}</h1>

    <p class="o-section_subtitle fz-small">{{ section.text }}</p>

    {% if section.button_text %}
    <a href="{{ section.button_url }}" class="o-section_action o-button c-button-primary">{{ section.button_text }}</a>
    {% endif %}
  </div>

  <div class="o-section_media" aria-hidden="true">
    <landing-hero-balls-container amount="8"></landing-hero-balls-container>
    <div class="o-section_img" style="background-image:url({% thumbnail section.image.file '460x460' crop='center' %});"></div>
  </div>
</div>

<div class="o-section_background" style="background-image:url({% thumbnail section.background_image.file '1700' crop='center' %});" aria-hidden="true"></div>
{% endblock %}
